<<<<<<< HEAD
<li><a href="/categories/5">Apple Inc.</a></li><li><a href="/categories/8">LG Inc.</a></li><li><a href="/categories/9">Motorola Inc.</a></li><li><a href="/categories/7">Samsung Inc.</a></li>
=======
<li><a href="/categories/6">Android</a></li><li><a href="/categories/5">Apple Inc.</a></li><li><a href="/categories/8">LG Inc.</a></li><li><a href="/categories/9">Motorola Inc.</a></li><li><a href="/categories/7">Samsung Inc.</a></li>
>>>>>>> develop
